{% extends 'base.html' %}

{% block content %}

	<h1>Login</h1>
	<br/>
	<div class="container">
		<form action="" method=POST>
			{% csrf_token %}
		  <div class="mb-3">
			<label for="username" class="form-label">Username</label>
			<input type="text" class="form-control" name="username" required>
		  </div>
		  <div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" name="password" required>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		  <a class="btn btn-secondary" href="{% url 'register' %}" role="button">Register</a>
		</form>
	</div>

{% endblock %}
